* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  color: #333333;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.line-break {
  display: inline-block;
}
@media (max-width: 767px) {
  .line-break {
    display: block;
    line-height: 1.5;
    margin-top: 10px;
  }
}

.pc-only {
  display: block;
}
@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.header {
  height: 80px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-section__logo-area img {
  height: 80px;
  width: auto;
}
.header-section__logo-item {
  margin-left: 20px;
}
.header-section__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-right: 20px;
}
.header-section__company-menu__area {
  height: 30px;
}
.header-section__company-menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 15%;
}
.header-section__company-menu__item {
  font-size: 18px;
  margin-top: 10px;
}
.header-section__service-menu__area {
  height: 60px;
}
.header-section__service-menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 15%;
}
.header-section__service-menu__item {
  font-size: 28px;
  font-weight: 700;
  margin: auto 0 10px 0;
}
@media (max-width: 767px) {
  .header-section__service-menu__item {
    font-size: 50px;
  }
}

.footer {
  height: 300px;
  background-color: rgba(155, 123, 108, 0.5);
}
.footer .footer-image {
  text-align: center;
  padding-top: 40px;
}
.footer__sns-list {
  display: flex;
  gap: 50px;
  margin: 20px 0;
}
.footer__sns-list__item img {
  width: 20px;
  height: 20px;
}
.footer__menu-list {
  display: flex;
  gap: 30px;
  font-size: 14px;
}
