@use '../init' as *;

.footer {
  height: 300px;
  background-color: rgba(155,123,108,0.5);
  .footer-image {
    text-align: center;
    padding-top: 40px;
  }
  &__sns-list {
    display: flex;
    gap: 50px;
    margin: 20px 0;
    &__item {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__menu-list {
    display: flex;
    gap: 30px;
    font-size: 14px;
  }
}